/* global resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* margin and padding */

nav,
.one,
.two,
.gallery,
.three,
.four,
.banner,
footer {
    margin: 0 auto;
    padding: 16px;
}


ul .logo {
    margin-right: auto;
}

/* flexboxes */
nav ul,
.one,
.one .box,
.two,
.two .gallery,
.item,
.three,
.four,
.banner,
.banner .box,
footer {
    display: flex;
    gap: 16px;
}

.one .box,
.two,
.gallery .item,
.three,
.banner .box,
footer {
    flex-direction: column;
}

.one .box {
    flex: 1 1 0;
}

.one .right.box,
.two,
.item,
.banner .box.button,
footer {
    justify-content: center;
    align-items: center;
}

.one button {
    align-self: flex-start;
}

.three .author {
    align-self: flex-end;
}

/* background styles */
nav,
.one,
footer {
    background-color: #1F2937;
}

.one .right.box {
    background-color: #6C747D;
}

.two,
.four {
    background-color: #fff;
}

.three {
    background-color: #e5e7eb;
}

.banner {
    background-color: #3882f6;
}



/* font styles */
.one h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

nav .logo,
.banner .bold {
    font-size: 24px;
    color: #f9faf8;
}

nav .link,
.one p,
.banner p,
footer p {
    font-size: 18px;
    color: #e5e7eb;
}

h2,
.three .quote {
    font-size: 36px;
    color: #1f2937;
}


h2 {
    font-weight: bolder;
}

.three .quote {
    font-weight: 100;
    font-style: italic;

}

.three .author {
    font-weight: bold;
}

ul {
    list-style: none;
    align-items: baseline;
}

ul a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #f9faf8;
    border-radius: 4px;
    background-color: #3882f6;
    padding: 4px 16px;
}

.one button {
    border: none;
}

.banner button {
    outline: none;
    border: 1px solid #f9faf8;
}



.gallery .item .box {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 16px;
}

.gallery .item p {
    color: #6C747D;
}